/* User page */

#plantlist {
    list-style-type: none;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

/* Authentication */

.signup-form,
.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.signup-form h1,
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.signup-form input[type="password"],
.signup-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.signup-form input[type="submit"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/* Global css */

#logo{
    width: 30px;
    height: 30px;
}

img {
    width: 250px;
    height: 250px;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: auto;
}

.main-content {
    text-align: center !important;
    margin: 1em;
    padding-bottom: 50px;
}

nav {
    background: #4d4d4d;
    padding: 0.5em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
    font-family: Tahoma, Geneva, sans-serif;
    color: #778899;
    background-color: white;
    text-align: center;
}